.navbar {
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 1); 
}

.btn-orange {
    color: orange;
    border-color: orange;
}

.btn-orange:hover {
    color: orange;
    border-color: orange;
    filter: brightness(70%);
}