.section-indent{
    padding:20px 80px !important;
}
.card{
    height: 150px;
}
.icon {
    width: 3rem;
    height: 3rem;
}

.icon i {
    font-size: 1.5rem;
}

.icon-shape {
    display: inline-flex;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.wrapper-stats{
    margin-bottom:40px;
}

