.nav-item:hover .nav-link {
    color: white;
}
.nav-link{
    font-weight: bold;
}
.nav-item{
  margin-left:10px;
}
.navbar-nav {
    margin-left: auto; /* Ensure menu items are right-aligned */
}

.navbar{
    padding-left:80px !important;
    padding-right:80px !important;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navbar.scrolled-up {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional for a shadow effect */
}


a.navbar-brand {
    color:#333333;
    font-weight: 600;
}
/*a.navbar-brand:hover{*/
/*    !*color:#ffbf06;*!*/
/*    font-weight: 600;*/
/*}*/
.nav-item button{
    padding:2px 20px 3px 20px;
    margin-top:3px;
    font-weight: bold;
    border-color: #1e1e1e;
    /*color: #393938;*/
}

.nav-item button:hover{
    border-color: #ffbf06;
    background-color:#ffbf06;
}

.nav-item .nav-link,.nav-item button{
    color: #1e1e1e;
}

a.link{
    border: 1px solid #292927;
    background-color: #373535;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 22px;
    padding: .25rem 1rem;
    font-weight: 600;
    font-size: 14px;
    transition: background-color .425s cubic-bezier(1,.053,.25,1);
    box-shadow: 0 2px 11px #0003;
    margin-top:3px;
}
a.link:hover{
    color: #1e1e1e;
    border-color:#1e1e1e;
    background-color: #fff;
    cursor: pointer;
}

