.section-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.section-indent{
    padding:20px 80px !important;
}

div.card {
    height: 300px;
}