.nav-item:hover .nav-link {
    color: orange;
}

.nav-item{
  margin-left:10px;
}
.navbar-nav {
    margin-left: auto; /* Ensure menu items are right-aligned */
}

.navbar{
    padding-left:80px !important;
    padding-right:80px !important;
}

a.navbar-brand {
    color:#666;
    font-weight: 600;
}
a.navbar-brand:hover{
    color:#ffbf06;
    font-weight: 600;
}
.nav-item button{
    padding:2px 20px 3px 20px;
    margin-top:3px;
    font-weight: bold;
    border-color: #1e1e1e;
    /*color: #393938;*/
}

.nav-item button:hover{
    border-color: #ffbf06;
    background-color:#ffbf06;
}

.nav-item .nav-link,.nav-item button{
    color: #1e1e1e;
}
